{% extends "layout.html" %}
{% block content %}
<div class="content-section">


  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"><strong>Mi perfil</strong></legend>

      
      <div class="form-group">
        <label class="form-control-label" style="font-weight: bold;">Foto</label>
        <div class="media">
          <img class="rounded-circle account-img ml-2" src="{{ image_file }}" style="width: 120px; height: 120px;">
          <div class="media-body ml-2">
            <form method="POST" action="{{ url_for('account') }}" enctype="multipart/form-data" class="form-inline">
              {{ picture_form.hidden_tag() }}
              <div class="form-group mr-1">
                <label for="file-upload" class="btn btn-outline-info mt-2">Cambiar foto</label>
                {{ picture_form.picture(class="form-control-file d-none", id="file-upload", onchange="this.form.submit()") }}
                {% if picture_form.picture.errors %}
                  {% for error in picture_form.picture.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Eliminar foto</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="form-control-label" style="font-weight: bold;">{{ form.username.label.text }}</label>
        {% if form.username.errors %}
          {{ form.username(class="form-control form-control-lg", id="usernameField", oninput="checkChanges()") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class="form-control form-control-lg", id="usernameField", oninput="checkChanges()") }}
        {% endif %}
      </div>
      <div class="form-group">
        <label class="form-control-label" style="font-weight: bold;">{{ form.email.label.text }}</label>
        {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg", id="emailField", oninput="checkChanges()") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
            {{ form.email(class="form-control form-control-lg", id="emailField", oninput="checkChanges()") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group hidden" id="updateButton">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Eliminar Foto de Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar tu foto de perfil? Esta acción no se puede deshacer.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <form id="remove-picture" method="POST" action="{{ url_for('remove_picture') }}">
          <input class="btn btn-danger" type="submit" value="Eliminar">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    function checkChanges() {
      const usernameField = document.getElementById('usernameField');
      const emailField = document.getElementById('emailField');
      const updateButton = document.getElementById('updateButton');
      
      const originalUsername = '{{ current_user.username }}';
      const originalEmail = '{{ current_user.email }}';
      
      if (usernameField.value !== originalUsername || emailField.value !== originalEmail) {
        updateButton.classList.remove('hidden');
      } else {
        updateButton.classList.add('hidden');
      }
    }
    
    window.onload = function() {
      checkChanges(); // Ensure the button is correctly shown/hidden on page load
    };
    </script>
    
{% endblock content %}
